.featureBox {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.featureIcon {
  width: 72px;
  height: 72px;
  object-fit: contain;
}

.textPrimary {
  font-size: 28px;
  font-weight: 500;
  padding: 5px 0;
}

.textSecondary {
  font-size: 20px;
  font-weight: 400;
  padding: 5px 0;
  opacity: 0.7;
}
