.hero {
  user-select: none;
}

.heroTitle {
  font-weight: 900;
  font-size: 140px;
  line-height: 140px;
  text-transform: uppercase;
  color: var(--dark);
  margin: 150px -30px 0 0;
}

.heroTitleOutlined {
  background: linear-gradient(#23bfb8, #85ea80);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 6px transparent;
  color: var(--accent);
}

.heroText {
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 1px;
  color: var(--dark-variant);
  mix-blend-mode: normal;
  margin: 60px 0 80px 0;
  max-width: 60%;
}
