* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: #f4f5ff;
  --secondary: #dec0f1;
  --primary: #b79ced;
  --variant: #26302b;
  --revert: #fff;
  --color-light: #484848;
}

body {
  color: var(--variant);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}
