* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #b79ced;
  --secondary: #dec0f1;
  --dark: #26302b;
  --dark-variant: #484848;
  --white: #fff;
  --accent: #f4f5ff;
  --accent-variant: #e7f2ef;
}

body {
  color: var(--dark);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}
